/* TODO - rely on Freak */
.est-hidden {
    display: none;
}
/* END TODO - rely on Freak */



.est-dp-box {
    float: left;
    margin: 10px;
    width: 420px;
    height: auto;
    overflow: auto;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #ddd;

    font-family: verdana;
}

.est-dp-box * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.est-dp {
    border: 1px solid #999;
    border-width: 0 1px 1px 1px;

    margin: 0;
    padding: 0;

    width: 300px;
    height: 350px;

    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    
    top: 0;

    list-style: none;
}

.est-dp-year {
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.est-dp-wdays {
    border: 1px solid #A2DDF3;
    border-width: 1px 0;
    overflow: auto;
    margin: 5px 0;
    padding-top: 8px;
}

.est-dp-box .est-dp-wdays span {
    border: none;
    font-size: .9em;
    font-weight: bold;
    height: 25px;
    text-align: center;
}

.est-dp-wdays span,
.est-dp li {
    float: left;
    /*width: 14.286%;*/
    width: 40px;
    height: 40px;
}

.est-dp li a {
    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;

    border: 1px solid #A2DDF3;
    border-width: 1px 1px 0 0;

    padding-top: 1px; /* make space for thick border */
    font-size: .9em;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}


.est-dp .est-dp-firstweek {
    border-top-color: #005879;
}

.est-dp .est-dp-lastdayofmonth a {
    border-right-color: #005879;
}

.est-dp .est-dp-lastdayofmonth + li a {
    padding-top: 17px;
}

.est-dp-selectable:hover {
    background: #00A1DE;
    color: #fff;
}

.est-dp-selectable {
    color: #006;
}

.est-dp-disabled:hover {
    background: #fff;
    color: #999;
}

.est-dp li a:hover .est-dp-month,
.est-dp-month {
    position: absolute;
    top: 2px;
    left: 0;
    text-align: center;
    width: 100%;


    color: #003145;
    font-size: 0.7em;
}

.est-dp-journey {
    color: #005B82;
    padding: 10px;
}

.est-dp-disabled a {
    color: #999;
    cursor: default;
}

.est-dp .est-dp-selected-start a,
.est-dp .est-dp-selected-start a span,
.est-dp .est-dp-selected-end a,
.est-dp .est-dp-selected-end a span {
    background: #0075A1;
    border-color: #005879;
    color: #fff;
}
.est-dp-selected-start a:hover,
.est-dp-selected-end a:hover {
    background: #005879;
}
.est-dp-mo-range a,
.est-dp-mo-range a span {
    background: #00A1DE;
    color: #fff;
}
.est-dp-disabled.est-dp-mo-range a,
.est-dp-disabled.est-dp-selected-start a {
    background: #fff;
    color: #999;
}
